{% extends 'base.html' %}
{% block content %}
<div class="col-md-6 offset-md-3">
<h1>Register</h1>
<br>

    <form method="POST" action="">
        {% csrf_token %}
        {% if form.errors%}
            <div class="alert alert-danger" role="alert">
                <strong>Oops!</strong> Something went wrong.
                <ul>
                    {% for field in form %}
                        {% for error in field.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
        {{ form.as_p }}

        <button type="submit" class="btn btn-secondary">Register</button>
    </form>
</div>
{% endblock %}